/* mobile */
@media (min-width: 320px) and (max-width: 767px) {
     
    

    .readmore{
        margin-left: 108px;
    margin-top: 192px;
    width: 104px;
    height: 37px;
    }

    .move {
        margin-top: 176px;
    }

    .name {

        margin-left: 31px;
        margin-top: -60px;
        font-size: 31px;

    }

    .surname {

        margin-top: -12px;
        margin-left: 41.8px;
        font-size: 32px;
    
    
    }

    .line {

        font-weight: 800;
        margin-top: -59px;
        font-size: 22px;
     
    margin-left: 84.8px;
    }

    .type {
        font-family: 'Times New Roman', Times, serif;
        margin-left: 49px;
         font-size: 16px;
         margin-top: 21px;



    }

    .type a {
        color: #070707 !important;



    }


    

.sec{
    padding:10px ;
    position: sticky;
}
  .profile-image {

    background-image: url('./Images/man.jpg');
    background-repeat: no-repeat;
    position: absolute;
    right: 44px;
    top: 0px;
    left: -145px;
    width: 146%;
    height: 168%;
    object-fit: cover;
    z-index: -1;
  }



  .box {
    border-radius: 23px;
    font-size: 11px;
    margin-left: 44px;
    height: 341px;
    width: 83%;
    padding: 1px;
    background-color: #f0f0f0;
}

.dev {
    font-size: 18px;
}

.row {
    flex-direction: column;
}

.aboutme, .skillsets {
    font-size: 13px;
    padding: 23px;

}










.closereadmore{
   
   float: right;
}


.close{
    font-size: 39px;
    margin-top: -63px;
    margin-bottom: 21px;
    margin-right: 22px;
}

.close:hover {
    color:purple;
    
}

.h1:hover{
    cursor: pointer;
    color: grey;
}


.nav{
    margin-top: -26px;
    width: 35px;
    margin-left: 1198px;
}




}



@media (min-width: 768px) and (max-width: 1023px) {

    .readmore{
        margin-left: 65px;
    margin-top: 30px;
    width: 181px;
    height: 57px;
    }

    .name {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        margin-left: 45px;
        margin-top: 227px;
        font-size: 89px;
    }

    .surname {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        margin-top: -38px;
        margin-left: 69.8px;
        font-size: 95px;
    }

    .line {

        font-weight: 900;
        margin-top: -137px;
        font-size: 79px;
        margin-left: 222.4px;
    }

    .type {
        font-family: 'Times New Roman', Times, serif;
        margin-left: 108px;
        font-size: 43px;
        margin-top: 30px;


    }

    .type a {
        color: #070707 !important;



    }

    .sec{
    padding:10px  ;
    position: sticky;
}
  .profile-image {
       
    position: absolute;/* Position the image absolutely within .back */
    right: 20px;
    top: -6px;
    left: -19px;
    width: 320px;
    height: 204px;
    object-fit: cover;/* Maintain aspect ratio */
    z-index: -1; /* Place the image behind the content */
  }



.box {
    margin-top: -141px;
    width: 1000px;
    height: 250px;
    background-color: #f2f2f2;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;

    backdrop-filter: blur(5px);
  }


.dev{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:"513px";
    height:"50px";
    margin-left:"280px";
    /* padding: 31px;
    color: yellowgreen; */

}



.aboutme{
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.row p{
    padding: 30px;
    margin: 0px;
}

.skillsets{
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.closereadmore{
   
   float: right;
}


.close{
    font-size: 39px;
    margin-top: -63px;
    margin-bottom: 21px;
    margin-right: 22px;
}

.close:hover {
    color:purple;
    
}

.h1:hover{
    cursor: pointer;
    color: grey;
}


.nav{
    margin-top: -26px;
    width: 35px;
    margin-left: 1198px;
}



   
    

}








/* //mine laptop size */

@media (min-width:1024px) and (max-width:1439px) {


   


    .readmore{
        margin-left: 73px;
        height: 61px;
        width: 172px;
        margin-top: 19px;
    
    }
    

    .move{
        margin-top: -93px;
        margin-left: 144px;
      
    }

    .name {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        margin-left: 45px;
        margin-top: 227px;
        font-size: 89px;
    }

    .surname {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        margin-top: -38px;
        margin-left: 69.8px;
        font-size: 95px;
    }

    .line {

        font-weight: 900;
        margin-top: -137px;
        font-size: 79px;
        margin-left: 222.4px;
    }

    .type {
        font-family: 'Times New Roman', Times, serif;
        margin-left: 108px;
        font-size: 27px;
        margin-top: 30px;


    }

    .type a {
        color: #070707 !important;



    }



    .sec{
       
       
        padding:10px ;
        position: sticky;
    }
      .profile-image {

        background-image: url('./Images/man.jpg');
           
        position: absolute;
    right: 20px;
    top: -86px;
    left: 389px;
    width: 66%;
    height: 160%;
    object-fit: cover;
    z-index: -1;
      }
    
    
    
    .box {
        border-radius: 12px;
        margin-top: -133px;
        width: 884px;
        height: 273px;
        background-color: #f2f2f2;
        border: 1px solid #000;
        text-align: center;
        font-size: 21px;
        backdrop-filter: blur(5px);
      }
    
    
    .dev{
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width:"513px";
        height:"50px";
        margin-left:"280px";
        /* padding: 31px;
        color: yellowgreen; */
    
    }
    
    
    
    .aboutme{
       
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
    }
    
    .row p{
        padding: 30px;
        margin: 0px;
    }
    
    .skillsets{
       
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    
    
    
    .closereadmore{
       
       float: right;
    }
    
    
    .close{
        font-size: 39px;
        margin-top: -63px;
        margin-bottom: 21px;
        margin-right: 22px;
    }
    
    .close:hover {
        color:purple;
        
    }
    
    .h1:hover{
        cursor: pointer;
        color: grey;
    }
    
    
    .nav{
        margin-top: -26px;
        width: 35px;
        margin-left: 1198px;
    }
    
    
    

    
     



}







@media(min-width:1440px) and (max-width:2559px) {

    .readmore{
        margin-left: 233px;
        margin-top: 33px;
        width: 260px;
        height: 114px;
    }



    .name {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        margin-left: 208px;
        margin-top: 216px;
        font-size: 168px;
    }

    .surname {

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        margin-left: 285px;
    margin-top: -40px;
    font-size: 162px;
    }

    .line {

        font-weight: 900;
        margin-top: -343px;
        font-size: 151px;
        margin-left: 542.4px;
    }

    .type {
        font-family: 'Times New Roman', Times, serif;
        margin-left: 309px;
        font-size: 32px;
        margin-top: 148px;;



    }

    .type a {
        color: #070707 !important;



    }

}